Source: pam-auth-update
Section: admin
Priority: optional
Maintainer: Denis Pynkin <denis.pynkin@collabora.com>
Build-Depends: debhelper (>= 9), autotools-dev,
  automake, flex, bison, m4
Standards-Version: 3.9.8
Homepage: https://gitlab.apertis.org/d4s/pam-auth-update/
Vcs-Git: https://gitlab.apertis.org/d4s/pam-auth-update.git
Vcs-Browser: https://gitlab.apertis.org/d4s/pam-auth-update/

Package: pam-auth-update
Architecture: any
Description: pam-auth-update
 Substitute original utility
